

<div class="row">
  <div class="col-sm-6">
    <div class="action">
      <%= link_to 'Students', students_path %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="action">
      <%= link_to 'Instructors', instructors_path %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="action">
      <%= link_to 'Courses', courses_path %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="action">
      <%= link_to 'Enrollments', enrollments_path %>
  </div>


              
                   
                
                

                 