<div class="course-card">
    <p><strong>Name:</strong> <%= @enrollment.user.first_name %> <%= @enrollment.user.last_name %> </p>
    <p><strong>Type:</strong> <%= @enrollment.user.userable_type %></p>
    <p><strong>Course:</strong> <%= @enrollment.course.name %></p>
</div>